body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  width:95%;
  margin: auto;
  margin-top: 3vh;
  overflow: auto;
}


/* calendar style */
.fc-button-group button{
  color: #3577D5 !important;
  border-color: #3577D5 !important;
  background: #fff !important;
  box-shadow: none !important;
}
.fc-button-group button:focus{
  background:#3577D5 !important;
  color: #fff !important;
}
.fc-searchDoctor-button{
  color: #3577D5 !important;
  border-color: #3577D5 !important;
  background: #fff !important;
  box-shadow: none !important;
}
.fc-searchDoctor-button:focus{
  background:#3577D5 !important;
  color: #fff !important;
}

.fc-addNote-button{
  border-color: #3577D5 !important;
  background:#3577D5 !important;
  box-shadow: none !important;
}
.fc-addNote-button:focus{
  background:#3577D5 !important;
  color: #fff !important;
}

.fc-today-button{
  color: #0abab5 !important;
  /* border: 2px solid #0abab5 !important; */
  border-color: #3577D5 !important;
  background: #fff !important;
  box-shadow: none !important;
}

.fc-today-button:focus{
  background:#3577D5 !important;
  color: #fff !important;
} 









.block-events.e-schedule .template-wrap {
  width: 100%;
}

.block-events.e-schedule .e-vertical-view .e-resource-cells {
  height: 58px;
}

.block-events.e-schedule .e-timeline-view .e-resource-left-td,
.block-events.e-schedule .e-timeline-month-view .e-resource-left-td {
  width: 170px;
}

.block-events.e-schedule .e-resource-cells.e-child-node .employee-category,
.block-events.e-schedule .e-resource-cells.e-child-node .employee-name {
  padding: 5px
}

.block-events.e-schedule .employee-image {
  width: 45px;
  height: 40px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 45px;
}

.block-events.e-schedule .employee-name {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.block-events.e-schedule .employee-designation {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.block-events.e-schedule .template-wrap .employee-image.alice {
  background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/alice.png');
}

.block-events.e-schedule .template-wrap .employee-image.robert {
  background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robert.png');
}

.block-events.e-schedule .template-wrap .employee-image.robson {
  background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robson.png');
}

.block-events.e-schedule .template-wrap .employee-image.laura {
  background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/laura.png');
}

.block-events.e-schedule .template-wrap .employee-image.nancy {
  background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/nancy.png');
}

.block-events.e-schedule .template-wrap .employee-image.margaret {
  background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/margaret.png');
}